div.layer-opacity-loading {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    bottom: 0;
    color: #333333;
    display: none;
    left: 0;
    position: fixed;
    font-weight: bold;
    font-size: 15px;
    right: 0;
    top: 0;
    z-index: 100000;
}

.my-error-class {
    color:#FF0000;  /* red */
}

.btn-accion {
    font-size: 15px;
    background: #f4f4f4;
    color: #444;
    border-color: #aaa;
}

.btn-accion:hover {
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.btn .badge {
    position: absolute;
    top: 7px;
    right: 22px;
}

.login-page-back{
    overflow-x:hidden;
    overflow-y:hidden;
    background-image: url("/imgs/login_uceva.jpg");
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.login-page-back::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:1000%;
    background:rgba(0,0,0,0.6);
    z-index:-1;
}

.login-box-body-uceva {
    background: #ffffff8f;
    padding: 20px;
    border-top: 0;
    color: #666;
    border-radius: 10px;

}

.margin-left{
    margin-left: 60%;
    margin-top: 20%;
}

.logo-uceva{
    height: auto;
    width: 300px !important;
}

.login-logo-color a{
    color: #f9f9ff !important;
}

.button-login{
    background-color: rgba(0, 92, 88, 0.73);
    color: white;
    width: 100%;
}
